@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    margin: 60px 60px;
    display: flex;
    justify-content:space-between ;
}
.navbar a{
    margin: auto 8px;
    border: 2px solid hsl(321, 100%, 78%);
    padding: 10px 25px;
    color: hsl(321, 100%, 78%);
    border-radius: 22px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 240px 10%;
}
.main h3{  
    padding: 31px;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: hsl(192, 100%, 9%);
}
.main p{
    margin: 0 28%;
    text-align: center;
    color: hsl(192, 100%, 9%);
    line-height: 25px;
    font-size: 20px;
}
.main a{
    border: 2px solid hsl(321, 100%, 78%);
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    margin: 40px 0;
    padding: 25px 80px;
    color: whitesmoke;
    border-radius: 40px;
    font-weight:600;
    font-family: 'Raleway', sans-serif;
    font-size: large;

}
 .screen{
    margin: -175px 12%;
}

.count{
    margin: 300px 25%;
    display: flex;
    justify-content: space-between;
}
.count .c-content1 h1, .count .c-content2 h1{
    font-size: 100px;
    font-weight: bolder;
    color: hsl(192, 100%, 9%);

}
.count .c-content1 p {

    font-size: 28px;
    color: hsla(191, 7%, 58%, 0.616);
    
}
.count .c-content2 p{
    font-size: 28px;
    color: hsla(191, 7%, 58%, 0.616);
     margin-left: 30px;
     
}
.grow-img {
    max-width: 100%;
    height: auto;
  margin-bottom: -5px;
  margin-top: -130px;
}
.grow-section{
   /* border: 2px solid red; */
   display: flex;
   background-color: hsl(207, 100%, 98%);
}
.grow-section .content{
    margin: auto 12%;
}
.grow-section .content h2{
    padding: 20px 0;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: hsl(192, 100%, 9%);
}
.grow-section .content p{
    text-align: left;
    color: hsl(192, 100%, 9%);
    line-height: 25px;
    font-size: 20px;
}
.grow-section img{
    min-width: 40%;
}



.flow-section{
    margin: 250px 100px 50px 100px;
    display: flex;
 }
 .flow-section .content{
     margin: auto 0 auto 10%;
 }
 .flow-section .content h2{
     padding: 20px 0;
     font-size: 40px;
     font-family: 'Raleway', sans-serif;
     font-weight: 900;
     color: hsl(192, 100%, 9%);
 }
 .flow-section .content p{
     text-align: left;
     color: hsl(192, 100%, 9%);
     line-height: 25px;
     font-size: 20px;
 }
 .flow-section img{
    min-width: 40%;
}